absl-py==2.0.0
anaconda-navigator==2.1.4
appdirs==1.4.4
astunparse==1.6.3
atomicwrites==1.4.0
backports.weakref==1.0.post1
bkcharts==0.2
black==19.10b0
brotlipy==0.7.0
certifi==2021.10.8
clyent==1.2.2
cmdstanpy==1.2.4
comtypes==1.1.10
conda==4.12.0
conda-build==3.21.8
conda-verify==3.4.2
constantly==15.1.0
cssselect==1.1.0
cytoolz==0.11.0
datashape==0.5.4
dm-tree==0.1.8
ephem==4.1.5
et-xmlfile==1.1.0
Flask-Cors==4.0.1
flatbuffers==24.3.25
fonttools==4.25.0
frozendict==2.4.6
gast==0.4.0
google-auth==2.25.2
google-auth-oauthlib==1.2.1
google-pasta==0.2.0
grpcio==1.60.0
gunicorn==23.0.0
h5py==3.11.0
holidays==0.56
html5lib==1.1
imbalanced-learn==0.12.3
importlib_resources==6.4.4
inflection==0.5.1
joblib==1.4.2
keras==3.5.0
Keras-Preprocessing==1.1.2
libclang==16.0.6
lightgbm==4.5.0
llvmlite==0.38.0
lxml==5.3.0
markdown-it-py==3.0.0
mccabe==0.6.1
mdurl==0.1.2
mkl-fft==1.3.1
mkl-service==2.4.0
ml-dtypes==0.4.0
mlxtend==0.23.0
mpmath==1.2.1
multitasking==0.0.11
munkres==1.1.4
mypy-extensions==0.4.3
namex==0.0.7
navigator-updater==0.2.1
numpy==1.23.5
oauthlib==3.2.2
opt-einsum==3.3.0
optree==0.12.1
pathspec==0.7.0
patsy==0.5.2
peewee==3.17.8
pep8==1.7.1
Pillow==9.0.1
platformdirs==4.3.6
prophet==1.1.5
protobuf==4.25.4
pyaml==24.7.0
pyasn1-modules==0.2.8
pycosat==0.6.3
pycurl==7.44.1
PyDispatcher==2.0.5
pyee==8.2.2
Pygments==2.17.2
pyls-spyder==0.4.0
PyMeeus==0.5.12
pyppeteer==1.0.2
pyreadline==2.1
pyswarm==0.6
pytest==7.1.1
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.2.4
pytz==2024.2
pywin32==302
PyYAML==6.0
queuelib==1.5.0
requests==2.32.3
requests-oauthlib==1.3.1
rich==13.7.0
scikeras==0.13.0
scikit-learn==1.5.1
scikit-learn-intelex==2021.20220215.102710
scikit-optimize==0.10.2
scipy==1.13.1
setuptools-git==1.2
sip==4.19.13
sklearn==0.0
stanio==0.5.1
statsmodels==0.13.2
tables==3.6.1
tabulate==0.8.9
TBB==0.2
tensorboard==2.17.1
tensorboard-data-server==0.7.2
tensorboard-plugin-wit==1.8.1
tensorflow==2.17.0
tensorflow-addons==0.22.0
tensorflow-estimator==2.15.0
tensorflow-intel==2.17.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0
threadpoolctl==3.5.0
typeguard==2.13.3
typing_extensions==4.12.2
webencodings==0.5.1
websockets==10.3
win-unicode-console==0.5
wincertstore==0.2
xgboost==2.0.3
xlwings==0.24.9
zict==2.0.0
